{#
 * This file is part of InsidionSwaggerBundle.
 *
 * @license MIT License (MIT)
 *
 * For full copyright and license information, please see the docs/CREDITS.txt file.
 *
 * @author Georges.L (Geolim4)  <contact@geolim4.com>
#}

{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set has_green_status = false %}
    {% set has_red_status = false %}
    {% set icon %}
        <span class="icon" title="Swagger">{{ include('@InsidionSwagger/DataCollector/icon.svg') }}</span>
        <span class="sf-toolbar-value" title="Swagger">{{ collector.stats.routes }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Swagger UI</b>
                <span>
                    {% if collector.swaggerUrl %}
                        <a href="{{ collector.swaggerUrl }}">See more</a>
                     {% else %}
                        {% set has_red_status = true %}
                        <span class="sf-toolbar-status sf-toolbar-status-red">
                            <abbr title="Route 'insidion_swagger_index' not declared">Route not setup</abbr>
                        </span>
                    {% endif %}
                </span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Cache</b>
                {% if collector.cacheEnabled %}
                    {% if collector.cacheService %}
                        <span class="sf-toolbar-status sf-toolbar-status-green"><abbr title="Service class: {{ collector.cacheService }}">enabled</abbr></span>
                    {% else %}
                        <span class="sf-toolbar-status sf-toolbar-status-green">enabled</span>
                    {% endif %}
                {% else %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">disabled</span>
                {% endif %}
            </div>
        </div>
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Routes</b>
                {% if collector.stats.routes %}
                    {% set has_green_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.stats.routes }}</span>
                {% else %}
                    {% set has_red_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.stats.routes }}</span>
                {% endif %}
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Tags</b>
                {% if collector.stats.tags %}
                    {% set has_green_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.stats.tags }}</span>
                {% else %}
                    {% set has_red_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.stats.tags }}</span>
                {% endif %}
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Models</b>
                {% if collector.stats.models %}
                    {% set has_green_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.stats.models }}</span>
                {% else %}
                    {% set has_red_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.stats.models }}</span>
                {% endif %}
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Schemes</b>
                {% if collector.stats.schemes %}
                    {% set has_green_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.stats.schemes }}</span>
                {% else %}
                    {% set has_red_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.stats.schemes }}</span>
                {% endif %}
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Authorizations</b>
                {% if collector.stats.authorizations %}
                    {% set has_green_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.stats.authorizations }}</span>
                {% else %}
                    {% set has_red_status = true %}
                    <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.stats.authorizations }}</span>
                {% endif %}
            </div>
        </div>
    {% endset %}

    {% if collector.cacheEnabled %}
        {% if has_red_status %}
            {% set block_status = 'yellow' %}
        {% else %}
            {% set block_status = 'green' %}
        {% endif %}
    {% else %}
        {% if has_green_status %}
            {% set block_status = 'yellow' %}
        {% else %}
            {% set block_status = 'red' %}
        {% endif %}
    {% endif %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, name: 'swagger', status: block_status, additional_classes: 'sf-toolbar-block-right' }) }}

{% endblock %}

{% block menu %}
    <span class="label{% if collector.stats|length == 0 %} disabled{% endif %}">
        <span class="icon">{{ include('@InsidionSwagger/DataCollector/icon.svg') }}</span>
        <strong>Swagger</strong>
        {% if collector.stats.routes %}
            <span class="count">
                <span>{{ collector.stats.routes }}</span>
            </span>
        {% endif %}

    </span>
{% endblock %}

{% block panel %}
    <!--
    - InsidionSwaggerBundle Metrics
    -->
    <h2>Insidion Swagger Bundle Metrics</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value"> {{ collector.stats.routes }}</span>
            <span class="label">Routes</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.stats.tags }}</span>
            <span class="label">Tags</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.stats.models }}</span>
            <span class="label">Models</span>
        </div>
        <div class="metric">
            <span class="value"> {{ collector.stats.schemes }}</span>
            <span class="label">Schemes</span>
        </div>

        <div class="metric">
            <span class="value"> {{ collector.stats.authorizations }}</span>
            <span class="label">Authorizations</span>
        </div>
    </div>

    <h2>Insidion Swagger Bundle Configuration</h2>
    <table>
        <thead class="small">
        <tr>
            <th>Configuration</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="font-normal">
                <span>Swagger controller</span>
            </td>
            <td class="font-normal">
                <span class="label status-{{  (collector.SwaggerUrl ? 'success' : 'error') }}">
                    {{  (collector.SwaggerUrl ? 'Yes' : 'No') }}
                </span>
            </td>
            {% if collector.SwaggerUrl %}
            <td class="font-normal">
                <a href="{{ collector.SwaggerUrl }}">View Swagger UI</a>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td class="font-normal">
                <span>Cache enabled</span>
            </td>
            <td class="font-normal">
                <span class="label status-{{  (collector.cacheEnabled ? 'success' : 'error') }}">
                    {{  (collector.cacheEnabled ? 'Yes' : 'No') }}
                </span>
            </td>
            <td></td>
        </tr>
        {% if collector.cacheEnabled %}
        <tr>
            <td class="font-normal">
                <span>Cache service</span>
            </td>
            <td class="font-normal">
                <span class="label status-{{  (collector.cacheService ? 'success' : 'error') }}">
                    {{  (collector.cacheService ? collector.cacheService : 'Not setup') }}
                </span>
            </td>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}